layout {
    background-color "transparent"

    focus-ring {
        active-color   "#cebdff"
        inactive-color "#948f9b"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#cebdff"
        inactive-color "#948f9b"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#cebdff"
        inactive-color "#948f9b"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#cebdff80"
    }
}

recent-windows {
    highlight {
        active-color   "#7462a9"
        urgent-color   "#ffb4ab"
    }
}