hotkey-overlay {
    // Uncomment this line to disable the "Important Hotkeys" pop-up at startup.
    skip-at-startup
}

binds {
    // ====== System ====== //
    // Hotkey Overlay
    Super+Shift+Slash { show-hotkey-overlay; }

    // Audio Control
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    Super+Alt+Tab hotkey-overlay-title="Toggle the Overview" repeat=false { toggle-overview; }
    Super+Alt+L   hotkey-overlay-title="Lock the Screen: swaylock" { spawn "swaylock"; }
    // ====== System ====== //

    // ====== Programs ====== //
    Ctrl+Space  hotkey-overlay-title="Open the Application Launcher" { spawn-sh "qs -c noctalia-shell ipc call launcher toggle"; }
    Ctrl+Return hotkey-overlay-title="Open a Terminal: Kitty"   { spawn "kitty"; }
    Super+t     hotkey-overlay-title="Open a Terminal: Kitty"   { spawn "kitty"; }
    Super+b     hotkey-overlay-title="Open a Browser: Vivaldi"  { spawn-sh "flatpak run com.vivaldi.Vivaldi"; }
    // ====== Programs ====== //

    // ====== Column/Window Management ====== //
    Super+Left              hotkey-overlay-title="Focus column left"    { focus-column-left; }
    Super+Right             hotkey-overlay-title="Focus column right"   { focus-column-right; }
    Super+Down              hotkey-overlay-title="Focus window or workspace down"   { focus-window-or-workspace-down; }
    Super+Up                hotkey-overlay-title="Focus window or workspace up"     { focus-window-or-workspace-up; }
    Super+WheelScrollDown   hotkey-overlay-title="Focus workspace down" cooldown-ms=150 { focus-workspace-down; }
    Super+WheelScrollUp     hotkey-overlay-title="Focus workspace up"   cooldown-ms=150 { focus-workspace-up; }



    Super+WheelScrollRight      { focus-column-right; }
    Super+WheelScrollLeft       { focus-column-left; }
    Super+Ctrl+WheelScrollRight { move-column-right; }
    Super+Ctrl+WheelScrollLeft  { move-column-left; }

    Super+Ctrl+Left  hotkey-overlay-title="Move column left"  { move-column-left; }
    Super+Ctrl+Right hotkey-overlay-title="Move column right" { move-column-right; }
    Super+Ctrl+Down  hotkey-overlay-title="Move window or workspace down" { move-window-down-or-to-workspace-down; }
    Super+Ctrl+Up    hotkey-overlay-title="Move window or workspace up"   { move-window-up-or-to-workspace-up; }
    Super+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Super+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }
    // ====== Column/Window Management ====== //

    Super+Home { focus-column-first; }
    Super+End  { focus-column-last; }
    Super+Ctrl+Home { move-column-to-first; }
    Super+Ctrl+End  { move-column-to-last; }

    Super+Shift+Left  { focus-monitor-left; }
    Super+Shift+Down  { focus-monitor-down; }
    Super+Shift+Up    { focus-monitor-up; }
    Super+Shift+Right { focus-monitor-right; }

    Super+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Super+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Super+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Super+Shift+Ctrl+Right { move-column-to-monitor-right; }

    // And you can also move a whole workspace to another monitor:
    Super+Shift+Alt+Ctrl+Up  { move-workspace-to-monitor-up; }
    Super+Shift+Alt+Ctrl+Down  { move-workspace-to-monitor-down; }
    // ...

    // Alternatively, there are commands to move just a single window:
    // Super+Ctrl+Page_Down { move-window-to-workspace-down; }
    // ...

    // Usually scrolling up and down with Shift in applications results in
    // horizontal scrolling; these binds replicate that.
    Super+Shift+WheelScrollDown      { focus-column-right; }
    Super+Shift+WheelScrollUp        { focus-column-left; }
    Super+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Super+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    // You can refer to workspaces by index. However, keep in mind that
    // niri is a dynamic workspace system, so these commands are kind of
    // "best effort". Trying to refer to a workspace index bigger than
    // the current workspace count will instead refer to the bottommost
    // (empty) workspace.
    //
    // For example, with 2 workspaces + 1 empty, indices 3, 4, 5 and so on
    // will all refer to the 3rd workspace.
    Super+1 { focus-workspace "main"; }
    Super+2 { focus-workspace "dev"; }
    Super+3 { focus-workspace "gaming";}
    Super+4 { focus-workspace "system"; }
    Super+5 { focus-workspace "chat"; }
    Super+Ctrl+1 { move-column-to-workspace "main"; }
    Super+Ctrl+2 { move-column-to-workspace "dev"; }
    Super+Ctrl+3 { move-column-to-workspace "gaming";}
    Super+Ctrl+4 { move-column-to-workspace "system"; }
    Super+Ctrl+5 { move-column-to-workspace "chat"; }

    // The following binds move the focused window in and out of a column.
    // If the window is alone, they will consume it into the nearby column to the side.
    // If the window is already in a column, they will expel it out.
    Super+BracketLeft  { consume-or-expel-window-left; }
    Super+BracketRight { consume-or-expel-window-right; }

    Super+R { switch-preset-column-width; }
    // Cycling through the presets in reverse order is also possible.
    // Super+R { switch-preset-column-width-back; }
    Super+Shift+R { switch-preset-window-height; }
    Super+Ctrl+R { reset-window-height; }
    Super+F { maximize-column; }
    Super+Shift+F { fullscreen-window; }

    // Expand the focused column to space not taken up by other fully visible columns.
    // Makes the column "fill the rest of the space".
    Super+Ctrl+F { expand-column-to-available-width; }

    Super+C { center-column; }

    // Center all fully visible columns on screen.
    Super+Ctrl+C { center-visible-columns; }

    // Finer width adjustments.
    // This command can also:
    // * set width in pixels: "1000"
    // * adjust width in pixels: "-5" or "+5"
    // * set width as a percentage of screen width: "25%"
    // * adjust width as a percentage of screen width: "-10%" or "+10%"
    // Pixel sizes use logical, or scaled, pixels. I.e. on an output with scale 2.0,
    // set-column-width "100" will make the column occupy 200 physical screen pixels.
    Super+Minus { set-column-width "-10%"; }
    Super+Equal { set-column-width "+10%"; }

    // Finer height adjustments when in column with other windows.
    Super+Shift+Minus { set-window-height "-10%"; }
    Super+Shift+Equal { set-window-height "+10%"; }

    // Move the focused window between the floating and the tiling layout.
    Super+V       { toggle-window-floating; }
    Super+Shift+V { switch-focus-between-floating-and-tiling; }

    // Toggle tabbed column display Supere.
    // Windows in this column will appear as vertical tabs,
    // rather than stacked on top of each other.
    Super+W { toggle-column-tabbed-display; }

    // Actions to switch layouts.
    // Note: if you uncomment these, make sure you do NOT have
    // a matching layout switch hotkey configured in xkb options above.
    // Having both at once on the same hotkey will break the switching,
    // since it will switch twice upon pressing the hotkey (once by xkb, once by niri).
    // Super+Space       { switch-layout "next"; }
    // Super+Shift+Space { switch-layout "prev"; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Super+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
    
    Ctrl+Super+Alt+C repeat=false { close-window; }

    // The quit action will show a confirmation dialog to avoid accidental exits.
    Super+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }
}