hotkey-overlay {
    // Uncomment this line to disable the "Important Hotkeys" pop-up at startup.
    skip-at-startup
}

binds {
    // ====== System ====== //
    // Hotkey Overlay
    Super+Shift+Slash { show-hotkey-overlay; }

    // Audio Control
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    Super+Alt+Tab hotkey-overlay-title="Toggle the Overview" repeat=false { toggle-overview; }
    Super+Alt+L   hotkey-overlay-title="Lock the Screen: swaylock" { spawn "swaylock"; }

    Super+P hotkey-overlay-title="Screenshot" { screenshot; }
    Super+Shift+P hotkey-overlay-title="Screenshot Screen" { screenshot-screen; }
    Super+Ctrl+P hotkey-overlay-title="Screenshot Window" { screenshot-window; }

    Super+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
    
    Ctrl+Super+Alt+C repeat=false { close-window; }
    Ctrl+Alt+Delete { quit; }
    // ====== System ====== //

    // ====== Programs ====== //
    Ctrl+Space  hotkey-overlay-title="Open the Application Launcher" { spawn-sh "qs -c noctalia-shell ipc call launcher toggle"; }
    Ctrl+Return hotkey-overlay-title="Open a Terminal: Kitty"   { spawn "kitty"; }
    Super+t     hotkey-overlay-title="Open a Terminal: Kitty"   { spawn "kitty"; }
    Super+b     hotkey-overlay-title="Open a Browser: Vivaldi"  { spawn-sh "flatpak run com.vivaldi.Vivaldi"; }
    // ====== Programs ====== //

    // ====== Columns/Windows ====== //
    Super+Left              hotkey-overlay-title="Focus column left"    { focus-column-left; }
    Super+WheelScrollLeft                                               { focus-column-left; }
    Super+Shift+WheelScrollUp                                           { focus-column-left; }

    Super+Right             hotkey-overlay-title="Focus column right"   { focus-column-right; }
    Super+WheelScrollRight                                              { focus-column-right; }
    Super+Shift+WheelScrollDown                                         { focus-column-right; }
    
    Super+Down              hotkey-overlay-title="Focus window or workspace down"   { focus-window-or-workspace-down; }
    Super+WheelScrollDown   cooldown-ms=150                                         { focus-window-or-workspace-down; }
    Super+Up                hotkey-overlay-title="Focus window or workspace up"     { focus-window-or-workspace-up; }
    Super+WheelScrollUp     cooldown-ms=150                                         { focus-window-or-workspace-up; }

    Super+Ctrl+Left  hotkey-overlay-title="Move column left"    { move-column-left; }
    Super+Ctrl+WheelScrollLeft                                  { move-column-left; }
    Super+Ctrl+Shift+WheelScrollUp                              { move-column-left; }

    Super+Ctrl+Right hotkey-overlay-title="Move column right"   { move-column-right; }
    Super+Ctrl+WheelScrollRight                                 { move-column-right; }
    Super+Ctrl+Shift+WheelScrollDown                            { move-column-right; }

    Super+Ctrl+Down  hotkey-overlay-title="Move window or workspace down"   { move-window-down-or-to-workspace-down; }
    Super+Ctrl+WheelScrollDown cooldown-ms=150                              { move-window-down-or-to-workspace-down; }

    Super+Ctrl+Up    hotkey-overlay-title="Move window or workspace up"     { move-window-up-or-to-workspace-up; }
    Super+Ctrl+WheelScrollUp   cooldown-ms=150                              { move-window-up-or-to-workspace-up; }
    // ====== Columns/Windows ====== //

    // ====== Monitors ====== //
    Super+Alt+Left  { focus-monitor-left; }
    Super+Alt+Down  { focus-monitor-down; }
    Super+Alt+Up    { focus-monitor-up; }
    Super+Alt+Right { focus-monitor-right; }

    Super+Alt+Ctrl+Left  { move-column-to-monitor-left; }
    Super+Alt+Ctrl+Down  { move-column-to-monitor-down; }
    Super+Alt+Ctrl+Up    { move-column-to-monitor-up; }
    Super+Alt+Ctrl+Right { move-column-to-monitor-right; }

    Super+Shift+Alt+Ctrl+Up  { move-workspace-to-monitor-up; }
    Super+Shift+Alt+Ctrl+Down  { move-workspace-to-monitor-down; }
    // ====== Monitors ====== //

    // ====== Workspaces ====== //
    Super+1 { focus-workspace 1; }
    Super+2 { focus-workspace 2; }
    Super+3 { focus-workspace 3;}
    Super+4 { focus-workspace 4; }
    Super+5 { focus-workspace 5; }

    Super+Ctrl+1 { move-column-to-workspace 1; }
    Super+Ctrl+2 { move-column-to-workspace 2; }
    Super+Ctrl+3 { move-column-to-workspace 3;}
    Super+Ctrl+4 { move-column-to-workspace 4; }
    Super+Ctrl+5 { move-column-to-workspace 5; }
    // ====== Workspaces ====== //

    // ====== Tabs ====== //
    Super+W { toggle-column-tabbed-display; }

    Super+BracketLeft  { consume-or-expel-window-left; }
    Super+BracketRight { consume-or-expel-window-right; }
    // ====== Tabs ====== //

    // ====== Column/Window Modes ====== //
    Super+F { maximize-column; }
    Super+Shift+F { fullscreen-window; }

    Super+V       { toggle-window-floating; }
    Super+Shift+V { switch-focus-between-floating-and-tiling; }
    // ====== Column/Window Modes ====== //

    // ====== Column Resizing ====== //
    Super+Ctrl+F    { expand-column-to-available-width; }
    Super+C         { center-column; }
    Super+Ctrl+C    { center-visible-columns; }

    Super+R         { switch-preset-column-width; }
    Super+Shift+R   { switch-preset-window-height; }
    Super+Ctrl+R    { reset-window-height; }
    

    Super+Minus { set-column-width "-10%"; }
    Super+Equal { set-column-width "+10%"; }

    // Finer height adjustments when in column with other windows.
    Super+Shift+Minus { set-window-height "-10%"; }
    Super+Shift+Equal { set-window-height "+10%"; }
    // ====== Column Resizing ====== //
}