// Settings that influence how windows are positioned and sized.
// Find more information on the wiki:
// https://yalter.github.io/niri/Configuration:-Layout
layout {
    gaps 8

    default-column-display "tabbed"
    center-focused-column "on-overflow"
    always-center-single-column

    background-color "transparent"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        width 1
    }
    
    tab-indicator {
        on
        width 4
        gap 4
        gaps-between-tabs 4
        corner-radius 4
        length total-proportion=0.95
        position "left"
        hide-when-single-tab
    }

    border {
        width 1
    }

    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }
}

window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
    tiled-state true
    draw-border-with-background false
}