recent-windows {
    // off
    debounce-ms 750

    open-delay-ms 0

    highlight {
        padding 5
        corner-radius 8
    }

    previews {
        max-height 300
        max-scale 0.5
    }

    binds {
        Alt+Tab         { next-window scope="workspace"; }
        Alt+Shift+Tab   { previous-window scope="workspace"; }
        Super+Tab         { next-window scope="output"; }
        Super+Shift+Tab   { previous-window scope="output"; }
    }
}