// All windows
window-rule {
    geometry-corner-radius 12
    clip-to-geometry true

    open-focused true
    draw-border-with-background false
    default-column-display "tabbed"
}

debug {
  // Allows notification actions and window activation from Noctalia.
  honor-xdg-activation-with-invalid-serial
}

// Float and block out Bitwarden from screen capture.
window-rule {
    match title=r#".*itwarden.*"#

    block-out-from "screen-capture"
    open-floating true
}


window-rule {
    match app-id="steam"
    match app-id="org.kde.Dolphin" title="Moving — Dolphin"
    open-floating true
}

window-rule {
    match app-id="steam" title="Steam"
    open-floating false
}

// Reposition Steam Notifications
window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
}

// Force portal windows to be floating and remove window decorations
window-rule {
    match app-id=r#"^.dg-desktop-portal-.*"#
    
    // Force them to be floating dialogs instead of tiling
    open-floating true
        
    border {
        off
    }
    focus-ring {
        off
    }
    shadow {
        off
    }
}

// Windows to go to gaming workspace
window-rule {
    match app-id=r#"^steam_app_.*$"#
    match app-id=r#"^gamescope$"#
    
    open-fullscreen true
    variable-refresh-rate true
}