layout {
    background-color "#00000020"

    focus-ring {
        active-color   "#cebdfeaa"
        inactive-color "#cebdfe77"
        urgent-color   "#cbc3dcaa"
    }

    border {
        active-color   "#cebdfeaa"
        inactive-color "#cebdfe77"
        urgent-color   "#cbc3dcaa"
    }

    shadow {
        color "#00000066"
    }

    tab-indicator {
        active-color   "#cebdfeaa"
        inactive-color "#cebdfe77"
        urgent-color   "#cbc3dcaa"
    }

    insert-hint {
        color "#cebdfe80"
    }
}

recent-windows {
    highlight {
        active-color   "#cebdfe"
        urgent-color   "#cbc3dcaa"
    }
}