@define-color accent_color {{colors.on_primary.default.hex}};
@define-color accent_bg_color {{colors.primary_container.default.hex}};
@define-color accent_fg_color {{colors.primary.default.hex}};

@define-color destructive_color {{colors.on_error.default.hex}};
@define-color destructive_bg_color {{colors.error_container.default.hex}};
@define-color destructive_fg_color {{colors.error.default.hex}};

@define-color success_color {{colors.on_primary.default.hex}};
@define-color success_bg_color {{colors.primary_container.default.hex}};
@define-color success_fg_color {{colors.primary.default.hex}};

@define-color warning_color {{colors.on_secondary.default.hex}};
@define-color warning_bg_color {{colors.secondary_container.default.hex}};
@define-color warning_fg_color {{colors.secondary.default.hex}};

@define-color error_color {{colors.on_error.default.hex}};
@define-color error_bg_color {{colors.error_container.default.hex}};
@define-color error_fg_color {{colors.error.default.hex}};

@define-color window_bg_color {{colors.background.default.rgba | set_alpha: 0.7}};
@define-color window_fg_color {{colors.primary.default.hex}};

@define-color view_bg_color {{colors.background.default.rgba | set_alpha: 0.9}};
@define-color view_fg_color {{colors.primary.default.hex}};

@define-color headerbar_bg_color {{colors.background.default.rgba | set_alpha: 0.0}};
@define-color headerbar_fg_color {{colors.primary.default.hex}};
@define-color headerbar_border_color alpha({{colors.primary_fixed_dim.default.hex}}, 0.47);
@define-color headerbar_backdrop_color {{colors.background.default.rgba | set_alpha: 0.7}};
@define-color headerbar_shade_color alpha({{colors.shadow.default.hex}}, 0.36);

@define-color card_color {{colors.surface.default.hex}};
@define-color card_bg_color {{colors.surface_container.default.hex}};
@define-color card_fg_color {{colors.on_surface.default.hex}};
@define-color card_shade_color alpha({{colors.shadow.default.hex}}, 0.36);

@define-color popover_bg_color {{colors.background.default.hex}};
@define-color popover_fg_color {{colors.primary.default.hex}};

@define-color shade_color alpha({{colors.shadow.default.hex}}, 0.36);

@define-color scrollbar_outline_color alpha({{colors.primary_fixed_dim.default.hex}}, 0.47);
@define-color borders alpha({{colors.primary_fixed_dim.default.hex}}, 0.47);

@define-color separator_high alpha({{colors.primary_fixed_dim.default.hex}}, 0.3);
@define-color separator_low alpha({{colors.primary_fixed_dim.default.hex}}, 0.0);